//
//  Config.xcconfig
//  Starbucks
//
//  Created by 장주리 on 5/19/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = "04cd2585b11a47b536fec1f2854906a3"
